[alias]
	ru = remote update
	rbsm = !git reset --hard $(git merge-base origin/staging origin/master)
[color]
	ui = auto
[user]
	email = slyich@gmail.com
	name = Sergei Trofimovich
	signingkey = 0xED5E45E06F2AC293
[push]
	default = simple
[sendemail]
	envelopeSender = auto
	confirm = auto
[pull]
	rebase = false
[init]
	defaultBranch = main
