[alias]
	ru = remote update
	rbsm = !git reset --hard $(git merge-base origin/staging origin/master)
	rbssn = !git reset --hard $(git merge-base origin/staging origin/staging-next)
	wdiff = diff --word-diff
[color]
	ui = auto
[user]
	email = slyich@gmail.com
	name = Sergei Trofimovich
	signingkey = 0xED5E45E06F2AC293
[push]
	default = simple
[sendemail]
	envelopeSender = auto
	confirm = auto
[pull]
	rebase = false
[init]
	defaultBranch = main
[http]
	cookiefile = /home/slyfox/.gitcookies
[safe]
	# workaround https://github.com/NixOS/nix/issues/10202
	directory = /etc/nixos
