[alias]
	ru = remote update
[color]
	ui = auto
[user]
	email = slyfox@gentoo.org
	name = Sergei Trofimovich
	signingkey = 0xED5E45E06F2AC293
[push]
	default = simple
[sendemail]
	envelopeSender = auto
	confirm = auto
[pull]
	rebase = false
[init]
	defaultBranch = main
