# konsole and alacritty (ctrl + arrow key)
"\e[1;5C": forward-word
"\e[1;5D": backward-word
# konsole and alacritty (alt + arrow key)
"\e[1;3C": forward-word
"\e[1;3D": backward-word

set colored-completion-prefix on
set page-completions off
set colored-stats on
set show-all-if-ambiguous on
set blink-matching-paren on
