layout {
    // always keep  actual contents on top
    pane

    pane size=1 borderless=true {
        plugin location="status-bar"
    }
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
}
