* {
    font-family: Source Code Pro, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 11.5pt;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.0);
    color: #e5e5e5;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
}

#clock {
    color: cyan;
}

#cpu.one-core {
    color: lime;
}
#cpu.some-cores {
    color: yellow;
}
#cpu.all-cores {
    color: red;
}

#network {
    color: lime;
}

#clock, #cpu, #network, #disk, #custom-xmms2 {
    background-color: rgba(0, 0, 0, 0.75);
}
#custom-upgrade-status {
    background-color: darkred;
}
