#!/usr/bin/env bash

# Begin ~/.bash/vars.rc

export PS1="\[\033[01;32m\][\h] \[\033[01;33m\]\w\[\033[01;31m\]:\[\033[00m\]"
export PS2="\[\033[01;32m\]....\[\033[01;31m\]> \[\033[00m\]"

GPG_TTY=$(tty)
export GPG_TTY

#End ~/.bash/vars.rc
